@mixin flex-center() {
  display: flex;
  align-items: center;
  justify-content: center;
}

.brandLogo {
  @include flex-center();

  &.small {
    width: 220px;
    height: 80px;
  }
  &.large {
    width: 440px;
    height: 160px;
  }
  &.circle {
    border-radius: 50%;
  }

  .logo {
    flex: 1;
    @include flex-center();
    img {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      object-fit: cover;

      display: flex;
    }
  }

  .bodyText {
    flex: 2;
  }
}
