@import '../../../helper.scss';
@import '../../../_variables.scss';

.instagramProduct {
  width: 224px;
  height: 100%;
  margin-left: 10px;
  margin-right: 10px;

  p {
    font-size: $font-small;
  }

  .interactiveImg {
    width: 100%;
    height: 168px;
    overflow: hidden;

    img {
      width: 100%;
      height: auto;
      transition: transform 300ms;

      &:hover {
        transform: scale(1.2, 1.2);
      }
    }
  }
  p.name {
    color: $brand-color;
  }
  p.prices {
    color: #000;
  }
}
